<div class="wto-container">
	<div class="row" style="margin-bottom: 0;background-color: #4c4c4c">
		<div class="col s4 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m7" style="margin-top: 120px">
			<div class="btd-login-title">CROWDFUNDING</div>
			<div class="row btd-signin-bg topgap10">
				<div class="col s1">&nbsp;</div>
				<div class="col s10" style="padding: 54px 0;">
					<div class="font-16 font-white" style="line-height: 1.75;letter-spacing: 0.3px;">
						<span class="font-weight-600">SEND YOUR CONTRIBUTION:</span>
						 The foundation will recommend an allocation rate of 2.00 USD/BTD (Two USD per Bitcoin Dollar) as well as time-based Bonus. The current bonus rate is 20% and will remain valid for all contributions.
					</div>
					<div class="topgap20 font-16 font-white" style="line-height: 1.75;letter-spacing: 0.3px;">
						<span class="font-weight-600">RATE:</span>
						  Enter the amount you wish to contribute, in USD, BTD(Bitcoin Dollar)
					</div>
					<div class="topgap10 dash-red">
						Note: BTD amount is approximate when funding with USD, BTC, ETH, and other Altcoins.
					</div>

					<div class="topgap80 dash-box relative">
						<div class="row" style="margin-top: 65px;">
							<div class="col s4">
								<div class="money-container">100</div>
								<div class="curreny-container">BITCOIN DOLLAR (BTD)</div>
							</div>
							<div class="col s4 text-center">
								<img src="/img/equal.svg" style="margin-top: 35px;">
							</div>
							<div class="col s4">
								<div class="money-container">$ 200.00</div>
								<div class="curreny-container">USD</div>
							</div>
						</div>
						<div class="bonus-container" style="top: -30px;">
							<span class="inline-block">
								<div class="inline-block font-12 text-center" style="letter-spacing: 0.2px;color: rgba(255,255,255,0.75);">CURRENT BONUS</div>
								<div class="font-24 font-weight-600 font-white text-center" style="letter-spacing: 0.4px;">20%</div>
							</span>
						</div>
						<div class="bonus-container" style="bottom: -30px;">
							<span class="inline-block">
								<div class="inline-block font-12 text-center" style="letter-spacing: 0.2px;color: rgba(255,255,255,0.75);">BTD TOTAL</div>
								<div class="font-24 font-weight-600 font-white text-center" style="letter-spacing: 0.4px;">120</div>
							</span>
						</div>
					</div>
					<div style="margin-top: 90px;">
						<div class="font-16 font-weight-600 font-white text-center" style="letter-spacing: 0.3px;">CONTRIBUTION OPTIONS</div>
						<div class="row topgap25">
							<div class="col s6 contri-btn" style="width: 48%;margin-right: 24px;">
								<img src="/img/contribution/btc.svg" style="vertical-align: bottom;">
								<span class="inline-block leftgap12">BITCOIN</span>
							</div>
							<div class="col s6 contri-btn" style="width: 48%;">
								<img src="/img/contribution/ether.svg" style="vertical-align: bottom;">
								<span class="inline-block leftgap12">ETHEREUM</span>
							</div>
						</div>
						<div class="row topgap20">
							<div class="col s6 contri-btn" style="width: 48%;margin-right: 24px;">
								<img src="/img/contribution/coinpayments.svg" style="vertical-align: middle;margin-top: -6px;">
								<span class="inline-block leftgap12">ALTCOINS VIA COINPAYMENTS</span>
							</div>
							<div class="col s6 contri-btn" style="width: 48%;">
								<img src="/img/contribution/paypal.svg" style="vertical-align: sub;">
								<span class="inline-block leftgap12">FIAT MONEY VIA PAYPAL</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col s1">&nbsp;</div>
			</div>
			<div class="row topgap25">
				<div class="col s12 text-center">
					<a href="https://www.facebook.com/Bitcoin-Dollar-1533800040002394" target="_blank">
						<img src="/img/dash-social/FB.svg">
					</a>
					<a href="https://twitter.com/bitcoin_dollar" target="_blank">
						<img src="/img/dash-social/Twitter.svg">
					</a>
					<a href="https://github.com/BTCGPU/BTCGPU/search?utf8=%E2%9C%93&q=bitcoin+open+source&type=" target="_blank">
						<img src="/img/dash-social/Github.svg">
					</a>
					<a href="https://www.reddit.com/user/Bitcoindollar" target="_blank">
						<img src="/img/dash-social/Reddit.svg">
					</a>
				</div>
			</div>
		</div>
		<div class="col s4 m3 hide-on-small-only signup-text-block" style="margin-top: 180px">
			<div class="font-24 font-weight-600" style="letter-spacing: 0.4px;">CONTRIBUTE NOW</div>
			<div class="topgap15">For development and technical augmentations.</div>
			<div class="topgap15">
				Minimum fund expected for the project  $5 million , once reached no more contribution will be accepted.
			</div>
			<div class="topgap15">
				Expected unclaimed bitcoin Dollar will be around 8 million.
			</div>
			<div class="topgap15">Unclaimed BTD will be distributed among developers, early backer and contributors.</div>
			<div class="topgap15">To Check your contribution</div>
			<div>Please Click Here</div>
			<div class="topgap15">A transaction may take up to 1-2 hours to be available.</div>
			<div>Please keep a screenshot of your transaction ID for future references.</div>
		</div>
		<div class="col s4 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 topgap60">&nbsp;</div>	
	</div>
</div>