<div class="wto-container">
	<div class="row" style="margin-bottom: 0;background-color: #464036">
		<div class="col s4 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m7" style="margin-top: 120px" ng-show="tab=='crowd'">
			<div class="row" style="margin: 0">
				<div class="col s12">
					<span class="btd-login-title">CROWDFUNDING</span>
					<span class="dash-btn cursor" ng-click="tabChanger('dash')">
						GO TO DASHBOARD
						<span class="inside-btn-block">
							<img src="/img/arrow-white.svg">
						</span>
					</span>
				</div>
			</div>
			<div class="row btd-signin-bg topgap10">
				<div class="col s1">&nbsp;</div>
				<div class="col s10" style="padding: 54px 0;">
					<div class="font-16 font-white" style="line-height: 1.75;letter-spacing: 0.3px;">
						<span class="font-weight-600">SEND YOUR CONTRIBUTION:</span>
						 The foundation will recommend an allocation rate of 3.00 USD/BTD (Two USD per Bitcoin Dollar) as well as time-based Bonus. The current bonus rate is 20% and will remain valid for all contributions.
					</div>
					<div class="topgap20 font-16 font-white" style="line-height: 1.75;letter-spacing: 0.3px;">
						<span class="font-weight-600">RATE:</span>
						  Enter the amount you wish to contribute, in USD, BTD(Bitcoin Dollar)
					</div>
					<div class="topgap10 dash-red">
						Note: BTD amount is approximate when funding with USD, BTC, ETH, and other Altcoins.
					</div>

					<div class="topgap80 dash-box relative">
						<div class="row" style="margin-top: 65px;">
							<div class="col s4">
								<div class="money-container">
									<input type="number" ng-model="btd" ng-change="changeBTD()" name="" style="margin-bottom: 0;font-size: 24px;">
								</div>
								<div class="curreny-container hide-on-small-only">BITCOIN DOLLAR (BTD)</div>
								<div class="curreny-container visible-xs-only">BTD</div>
							</div>
							<div class="col s4 text-center">
								<img src="/img/equal.svg" style="margin-top: 35px;">
							</div>
							<div class="col s4">
								<div class="money-container">
									<input type="number" ng-model="usd" ng-change="changeUSD()" name="" style="margin-bottom: 0;font-size: 24px;">
								</div>
								<div class="curreny-container">USD</div>
							</div>
						</div>
						<div class="bonus-container" style="top: -30px;">
							<span class="inline-block">
								<div class="inline-block font-12 text-center" style="letter-spacing: 0.2px;color: rgba(255,255,255,0.75);">CURRENT BONUS</div>
								<div class="font-24 font-weight-600 font-white text-center" style="letter-spacing: 0.4px;">{{bonus}}%</div>
							</span>
						</div>
						<div class="bonus-container" style="bottom: -30px;">
							<span class="inline-block">
								<div class="inline-block font-12 text-center" style="letter-spacing: 0.2px;color: rgba(255,255,255,0.75);">BTD TOTAL</div>
								<div class="font-24 font-weight-600 font-white text-center" style="letter-spacing: 0.4px;text-overflow: ellipsis;max-width: 150px;overflow: hidden;">{{btd_total}}</div>
							</span>
						</div>
					</div>
					<div style="margin-top: 90px;">
						<div class="font-16 font-weight-600 font-white text-center" style="letter-spacing: 0.3px;">CONTRIBUTION OPTIONS</div>
						<div class="row topgap25">
							<!-- <div class="col s6 contri-btn" style="width: 48%;margin-right: 24px;">
								<img src="/img/contribution/btc.svg" style="vertical-align: bottom;">
								<span class="inline-block leftgap12">BITCOIN</span>
							</div> -->
							<div class="col s6 text-center no-padding" style="width: 48%;">
								<!-- <img src="/img/contribution/coinpayments.svg" style="vertical-align: middle;margin-top: -6px;">
								<span class="inline-block leftgap12">ALTCOINS VIA COINPAYMENTS</span> -->
								<form action="https://www.coinpayments.net/index.php" method="post">
									<input type="hidden" name="cmd" value="_pay">
									<input type="hidden" name="reset" value="1">
									<input type="hidden" name="merchant" value="48f385d2ce40ef9b9a55a39fa8474bdd">
									<input type="hidden" name="item_name" value="Bitcoin Dollar">
									<input type="hidden" name="currency" value="USD">
									<input type="hidden" name="amountf" value="3.00000000">
									<input type="hidden" name="quantity" value="1">
									<input type="hidden" name="allow_quantity" value="1">
									<input type="hidden" name="want_shipping" value="0">
									<input type="hidden" name="success_url" value="http://bitcoindollar.io/#!/success">
									<input type="hidden" name="cancel_url" value="http://bitcoindollar.io/#!/failure">
									<input type="hidden" name="allow_extra" value="0">
									<input type="hidden" name="email" value="{{userData.UserEMail}}">
									<input type="image" src="/img/btns/Bitcoin.png" alt="Buy Now with CoinPayments.net" width="100%">
								</form>
							</div>
							<!-- <div class="col s6 contri-btn" style="width: 48%;">
								<img src="/img/contribution/ether.svg" style="vertical-align: bottom;">
								<span class="inline-block leftgap12">ETHEREUM</span>
							</div> -->
							<div class="col s6 text-center no-padding" style="width: 48%;float: right;">
								<!-- <img src="/img/contribution/coinpayments.svg" style="vertical-align: middle;margin-top: -6px;">
								<span class="inline-block leftgap12">ALTCOINS VIA COINPAYMENTS</span> -->
								<form action="https://www.coinpayments.net/index.php" method="post">
									<input type="hidden" name="cmd" value="_pay">
									<input type="hidden" name="reset" value="1">
									<input type="hidden" name="merchant" value="48f385d2ce40ef9b9a55a39fa8474bdd">
									<input type="hidden" name="item_name" value="Bitcoin Dollar">
									<input type="hidden" name="currency" value="USD">
									<input type="hidden" name="amountf" value="3.00000000">
									<input type="hidden" name="quantity" value="1">
									<input type="hidden" name="allow_quantity" value="1">
									<input type="hidden" name="want_shipping" value="0">
									<input type="hidden" name="success_url" value="http://bitcoindollar.io/#!/success">
									<input type="hidden" name="cancel_url" value="http://bitcoindollar.io/#!/failure">
									<input type="hidden" name="allow_extra" value="0">
									<input type="hidden" name="email" value="{{userData.UserEMail}}">
									<input type="image" src="/img/btns/Ethereum.png" alt="Buy Now with CoinPayments.net" width="100%">
								</form>
							</div>
						</div>
						<div class="row topgap20">
							<div class="col s6 text-center no-padding" style="width: 48%;margin-left: 50%;transform: translateX(-50%);">
								<!-- <img src="/img/contribution/coinpayments.svg" style="vertical-align: middle;margin-top: -6px;">
								<span class="inline-block leftgap12">ALTCOINS VIA COINPAYMENTS</span> -->
								<form action="https://www.coinpayments.net/index.php" method="post">
									<input type="hidden" name="cmd" value="_pay">
									<input type="hidden" name="reset" value="1">
									<input type="hidden" name="merchant" value="48f385d2ce40ef9b9a55a39fa8474bdd">
									<input type="hidden" name="item_name" value="Bitcoin Dollar">
									<input type="hidden" name="currency" value="USD">
									<input type="hidden" name="amountf" value="3.00000000">
									<input type="hidden" name="quantity" value="1">
									<input type="hidden" name="allow_quantity" value="1">
									<input type="hidden" name="want_shipping" value="0">
									<input type="hidden" name="success_url" value="http://bitcoindollar.io/#!/success">
									<input type="hidden" name="cancel_url" value="http://bitcoindollar.io/#!/failure">
									<input type="hidden" name="allow_extra" value="0">
									<input type="hidden" name="email" value="{{userData.UserEMail}}">
									<input type="image" src="/img/btns/Altcoins.png" alt="Buy Now with CoinPayments.net" width="100%">
								</form>
							</div>
							<!-- <div class="col s6 contri-btn" style="width: 48%;">
								<img src="/img/contribution/paypal.svg" style="vertical-align: sub;">
								<span class="inline-block leftgap12">FIAT MONEY VIA PAYPAL</span>
							</div> -->
						</div>
					</div>
				</div>
				<div class="col s1">&nbsp;</div>
			</div>

			<div class="row btd-signin-bg topgap10">
				<div class="col s1">&nbsp;</div>
				<div class="col s10 referral-text">
					<span class="inline-block">
						MY REFERRAL LINK:
					</span>
					<span class="inline-block leftgap12">
						{{referralLink}}
					</span>
					<input type="text" id="referLink" ng-model="referralLink" style="display: inline-block;width: 1px;height: 1px;position: absolute;z-index: -1;">
					<span id="copy-referral" ng-click="copyRefer()">
						COPY REFERRAL CODE
					</span>
				</div>
				<div class="col s1">&nbsp;</div>
			</div>

			<div class="row btd-signin-bg topgap10" style="margin-bottom: 0;">
				<div class="col s1">&nbsp;</div>
				<div class="col s10 referral-text">
					<span class="{{referTab == 'reward'?'refer-tab-active':'refer-tab'}}" ng-click="referTabChanger('reward')">REFERRAL REWARDS</span>
					<span class="{{referTab == 'list'?'refer-tab-active':'refer-tab'}} leftgap40" ng-click="referTabChanger('list')">MY REFERALLS</span>
				</div>
				<div class="col s1">&nbsp;</div>
			</div>

			<div class="row btd-signin-bg" style="padding: 40px 0;border-top: none;" ng-if="referTab == 'reward'">
				<div class="col s12 dash-row-2">
					<div class="row" style="margin-bottom: 0;">
						<div class="col s3">LEVEL 1</div>
						<div class="col s4">20% Referral Bonus</div>
						<div class="col s5 text-right">
							<img src="/img/user.svg">
						</div>
					</div>
				</div>
				<!-- <div class="col s12 dash-row-1">
					<div class="row" style="margin-bottom: 0;">
						<div class="col s3">LEVEL 2</div>
						<div class="col s4">05% Referral Bonus</div>
						<div class="col s5 text-right">
							<img src="/img/user.svg">
							<img src="/img/user.svg" class="leftgap12">
						</div>
					</div>
				</div>
				<div class="col s12 dash-row-2">
					<div class="row" style="margin-bottom: 0;">
						<div class="col s3">LEVEL 3</div>
						<div class="col s4">2.5% Referral Bonus</div>
						<div class="col s5 text-right">
							<img src="/img/user.svg">
							<img src="/img/user.svg" class="leftgap12">
							<img src="/img/user.svg" class="leftgap12">
						</div>
					</div>
				</div>
				<div class="col s12 dash-row-1">
					<div class="row" style="margin-bottom: 0;">
						<div class="col s3">LEVEL 4</div>
						<div class="col s4">2.5% Referral Bonus</div>
						<div class="col s5 text-right">
							<img src="/img/user.svg">
							<img src="/img/user.svg" class="leftgap12">
							<img src="/img/user.svg" class="leftgap12">
							<img src="/img/user.svg" class="leftgap12">
						</div>
					</div>
				</div> -->
			</div>
			<div class="row btd-signin-bg" style="padding: 40px 0;border-top: none;" ng-if="referTab == 'list'">
				<div class="col s12" ng-repeat="data in ReferralList.mails" ng-class-odd="'dash-row-2'" ng-class-even="'dash-row-1'">
					<div class="row" style="margin-bottom: 0;">
						<div class="col s12">{{data.UserName}}</div>
					</div>
				</div>
			</div>

			<div class="row topgap25">
				<div class="col s12 text-center">
					<a href="https://www.facebook.com/Bitcoin-Dollar-1533800040002394" target="_blank">
						<img src="/img/dash-social/FB.svg">
					</a>
					<a href="https://twitter.com/Bitcoin_Dollars" target="_blank">
						<img src="/img/dash-social/Twitter.svg">
					</a>
					<a href="https://github.com/bitcoindollar" target="_blank">
						<img src="/img/dash-social/Github.svg">
					</a>
					<a href="https://www.reddit.com/user/Bitcoindollar" target="_blank">
						<img src="/img/dash-social/reddit.svg">
					</a>
				</div>
			</div>
		</div>
		<div class="col s4 m3 hide-on-small-only signup-text-block" ng-show="tab=='crowd'" style="margin-top: 180px">
			<div class="font-24 font-weight-600" style="letter-spacing: 0.4px;padding: 0 8px;">CONTRIBUTE NOW</div>
			<div class="topgap15" style="padding: 0 8px;">For development and technical augmentations.</div>
			<div class="topgap15" style="padding: 0 8px;">
				Fund expected for the project $5 million, once reached no more contribution will be accepted.
			</div>
			<div class="topgap15" style="padding: 0 8px;">
				Expected unclaimed bitcoin Dollar will be around 8 million.
			</div>
			<div class="topgap15" style="padding: 0 8px;">Unclaimed BTD will be distributed among developers, early backer and contributors.</div>
			<div class="topgap15" style="padding: 0 8px;">To Check your contribution</div>
			<div style="padding: 0 8px;>Please Click Here</div>
			<div class="topgap15" style="padding: 0 8px;">A transaction may take up to 1-2 hours to be available.</div>
			<div style="background-color: rgba(216,216,216,0.1);padding: 8px;">Please keep a screenshot of your transaction ID for future references.</div>
		</div>

		<div class="col s12 m10" style="margin-top: 120px" ng-show="tab=='dash'">
			<div class="row" style="margin: 0;">
				<div class="col s12">
					<span class="btd-login-title">DASHBOARD</span>
					<span class="dash-btn cursor" ng-click="tabChanger('crowd')" style="width: 260px;">
						GO TO CROWDFUNDING
						<span class="inside-btn-block">
							<img src="/img/arrow-white.svg">
						</span>
					</span>
				</div>
			</div>
			<div class="row btd-signin-bg topgap10">
				<div class="col s1">&nbsp;</div>
				<div class="col s10" style="padding: 39px 0;">
					<div class="current-balance">CURRENT BALANCE</div>
					<div class="user-balance">{{transactionDetails.UserBalance}} BTD</div>
				</div>
				<div class="col s1">&nbsp;</div>
			</div>
			<div class="row">
				<div class="col s12 transaction-history">
					TRANSACTION HISTORY
				</div>
			</div>
			<div class="row btd-signin-bg topgap10">
				<div class="col s12 dash-row-1">
					<div class="row" style="margin-bottom: 0;">
						<div class="col s2">Date</div>
						<div class="col s6">Description</div>
						<div class="col s2">Amount</div>
						<div class="col s2">Status</div>
					</div>
				</div>
				<div class="col s12" ng-repeat="data in transactionDetails.transactions" ng-class-odd="'dash-row-2'" ng-class-even="'dash-row-1'">
					<div class="row" style="margin-bottom: 0;">
						<div class="col s2">{{data.Transdate}}</div>
						<div class="col s6">txn id : {{data.TransactionID}}</div>
						<div class="col s2">{{data.amount}} {{data.Currency}}</div>
						<div class="col s2">{{data.Status}}</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col s4 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 topgap60">&nbsp;</div>	
	</div>
</div>