<div class="wto-container">
	<div class="row wto-white-bg" style="margin-top: 150px;">
		<div class="col s12 m1">&nbsp;</div>
		<div class="col s12 m10">
			<div class="row">
				<div class="col s6">&nbsp;</div>
				<div class="col s5 relative">
					<img src="/img/Pyramid.png" style="width: 100%;height: auto;">
					<span class="pyramid-text" style="top: 7%;left: -5%;">BITCOIN Dollar (BTD)</span>
					<span class="pyramid-text" style="top: 32%;left: -37%;">
						BTD Community (Users, Advisors,<br> Traders,Promoters, Miners,etc)
					</span>
					<span class="pyramid-text" style="top: 57%;left: -57%;">
						Exchanges, Wallets, Nodes, Projects,<br> Services, etc
					</span>
				</div>
				<div class="col s1">&nbsp;</div>
			</div>
		<div class="col s12 m1">&nbsp;</div>
	</div>
</div>