<div class="wto-container">
	<div class="row wto-white-bg topgap30" style="margin-top: 80px;">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 section scrollspy topgap40 bottomgap20 wow fadeIn" id="wallet">
			<h5 class="text-center btd-title" style="margin-top: 20px;">
				<div>MEDIA</div>
			</h5>
			<div class="flex-xs topgap30 wallets-images">
				<a href="https://news.bitcoin.com" target="_blank"><img src="/img/media/1.jpg"></a>
				<a href="https://bitcoingarden.org" target="_blank"><img src="/img/media/2.jpg"></a>
				<a href="https://bitcoinira.com/press" target="_blank"><img src="/img/media/3.jpg"></a>
				<a href="https://thebitcoinnews.com" target="_blank"><img src="/img/media/4.jpg"></a>
				<a href="https://www.blockchain24.co" target="_blank"><img src="/img/media/5.jpg"></a>
			</div>
			<div class="flex-xs wallets-images topgap50">
				<a href="https://blockonomi.com" target="_blank"><img src="/img/media/6.jpg"></a>
				<a href="https://bravenewcoin.com" target="_blank"><img src="/img/media/7.jpg"></a>
				<a href="https://www.ccn.com" target="_blank"><img src="/img/media/8.jpg"></a>
				<a href="https://www.coinspeaker.com" target="_blank"><img src="/img/media/9.jpg"></a>
				<a href="https://www.coindesk.com" target="_blank"><img src="/img/media/10.jpg"></a>
			</div>
			<div class="flex-xs wallets-images topgap50">
				<a href="https://coinidol.com" target="_blank"><img src="/img/media/11.jpg"></a>
				<a href="https://coinpedia.org" target="_blank"><img src="/img/media/12.jpg"></a>
				<a href="https://coinspectator.com" target="_blank"><img src="/img/media/13.jpg"></a>
				<a href="https://cointelegraph.com" target="_blank"><img src="/img/media/14.jpg"></a>
				<a href="http://coinwisdom.org" target="_blank"><img src="/img/media/15.jpg"></a>
			</div>
			<div class="flex-xs wallets-images topgap50">
				<a href="https://icomagazine.com" target="_blank"><img src="/img/media/16.jpg"></a>
				<a href="http://insidebitcoins.com" target="_blank"><img src="/img/media/17.jpg"></a>
				<a href="https://www.kickico.com" target="_blank"><img src="/img/media/18.jpg"></a>
			</div>
		</div>
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	</div>
	<div class="row wto-white-bg topgap30">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 section scrollspy topgap40 bottomgap20 wow fadeIn" id="about">
			<h5 class="text-center btd-title" style="margin-top: 20px;">
				<div>HEREDITARY</div>
			</h5>
			<div class="row topgap50">
				<!-- <div class="col s12 m6">
					<div class="font-20 font-weight-600 label-grey">How Peter became a Millionaire ?</div>
					<img src="/img/Youtube.jpg" class="topgap10" style="width: 80%;height: auto;">
				</div> -->
				<div class="col s3 m3 hide-on-small-only">&nbsp;</div>
				<div class="col s12 m6">
					<img src="/img/Structure.svg" class="topgap35" style="width: 100%;height: auto;">
				</div>
				<div class="col s3 m3 hide-on-small-only">&nbsp;</div>
			</div>
		</div>
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	</div>
	<div class="row wto-white-bg hide-on-small-only" style="margin-top: 150px;">
		<div class="col s12 m1">&nbsp;</div>
		<div class="col s12 m10">
			<div class="row">
				<div class="col s6">&nbsp;</div>
				<div class="col s5 relative">
					<img src="/img/Pyramid.png" style="width: 100%;height: auto;">
					<span class="pyramid-text" style="top: 7%;left: -5%;">BITCOIN Dollar (BTD)</span>
					<span class="pyramid-text" style="top: 32%;left: -37%;">
						BTD Community (Users, Advisors,<br> Traders,Promoters, Miners,etc)
					</span>
					<span class="pyramid-text" style="top: 57%;left: -57%;">
						Exchanges, Wallets, Nodes, Projects,<br> Services, etc
					</span>
				</div>
				<div class="col s1">&nbsp;</div>
			</div>
		<div class="col s12 m1">&nbsp;</div>
	</div>
</div>