<div class="wto-container">
	<div class="row" style="margin-bottom: 0;">
		<div style="background-color: #fff;min-height: 100vh;">
			<div class="row failure-bg" style="margin-top: 140px">
				<div class="col s4 m3 hide-on-small-only">&nbsp;</div>
				<div class="col s12 m6 text-center">
					<span class="text-center inline-block" style="vertical-align: top;margin-right: 20px;">
						<img src="/img/close.svg">
					</span>
					<span class="inline-block font-36 font-weight-100 font-white text-left">
						Your Transaction could<br/>not be processed!
					</span>
				</div>
				<div class="col s4 m3 hide-on-small-only">&nbsp;</div>
			</div>
			<div class="row">
				<div class="col s4 m3 hide-on-small-only">&nbsp;</div>
				<div class="col s12 m6">
					<div class="topgap35 text-center font-14 font-weight-300" style="color: #4a4a4a;">Your transaction could not be processed at this time<br/>due to an unknown error.</div>
					<div class="topgap10 text-center">
						<a ui-sref="home" class="font-18 font-weight-600 btd-yellow">CLICK ANYWHERE TO CLOSE</a>
					</div>
				</div>
				<div class="col s4 m3 hide-on-small-only">&nbsp;</div>
			</div>
		</div>
	</div>
</div>