<div class="wto-container">
	<div class="row" style="margin-top: 80px;">
		<div class="col s2 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 topgap60">
			<div class="faq-head">Frequently Asked Questions</div>
			<div class="topgap30">
				<div class="faq-title">What is Bitcoin Dollar?</div>
				<div class="faq-body">Bitcoin Dollar is the first artificial intelligence Bitcoin which will act as Interoperable and digital money for the Internet. It is fully anonymous, decentralized, with no central authority or bank and requires no trusted third parties to transact or operate.</div>

				<div class="faq-title">Why use POW and DPoS?</div>
				<div class="faq-body">
					BTD employs the POW/DPoS Consensus Mechanism, which implements digital democracies to offset the negative centralization effects posed by the PoW only algorithm. As a result, with voting right in the hands of the token holders, a true decentralization can be achieved. This ensures maximization of shareholders profitability and network efficiency, minimises costs of maintaining cybersecurity and operating the network. By significantly reducing the number of participating verification nodes, BTD can reach consensus in seconds and boost the transaction speed to really be as FAST as lightning.
				</div>

				<div class="faq-title">What will happen to unclaimed, lost and unused Bitcoin Dollar?</div>
				<div class="faq-body">
					Currently, there are 270 million BTC accounts in 8000 different exchanges worldwide from 2009 onwards. The BTC in those accounts is so minuscule it average 0.006670 BTC and many users not claimed their BTC. Apart from this 28% to 45% bitcoin are unused or lost in time. Those unclaimed bitcoin Dollars will be distributed among the early backers and contributors to the development of the projects.
				</div>

				<div class="faq-title">
					If I contribute in BTC, ETH, BCC, LTC or any other, will i be eligible for Bitcoin Dollars?
				</div>
				<div class="faq-body">
					<div>
						Yes, every contributor will be receiving their Bitcoin Dollars as proportion to this calculations.	
					</div>
					<div class="topgap6">
						Value of per BTD = Total contribution received (Calculated in USD) / Total unclaimed BTD,
					</div>
					<div>Eg: $1 = $ 5 million / 5 million.</div>
					<div class="topgap6">
						Distribution of BTD to respective user = Total contribution received from respective user/ Value of per BTD
					</div>
					<div>Eg: 1000 BTD = $1000 / $1</div>
				</div>

				<div class="faq-title">Is Bitcoin Dollar different from 'Bitcoin' and other form of Bitcoin forks?</div>
				<div class="faq-body">
					Yes. Bitcoin Dollar is the continuation of the Bitcoin project as peer-to-peer digital transaction. It is not a fork of the Bitcoin blockchain ledger rather different entity of AI blockchain ledger itself, with advanced and upgraded consensus rules that allow it to evolve, grow and operate. With built-in smart contract,DAPP, digital assets can be issued and distributed, and applications can be built on blockchain, making BTD a valuable and functional token.
				</div>

				<div class="faq-title">If I own Bitcoin, do I automatically own Bitcoin Dollar too?</div>
				<div class="faq-body">
					<div>
						Anyone who held Bitcoin at the time Bitcoin Dollar was created will eligible for Bitcoin Dollar. This means that Bitcoin holders as of Feb, 05 2018 have the same amount of BTD as they had Bitcoin at that time if they claim their respective BTD within given timeline. Bitcoin Dollar which are unclaimed will be distributed among the early contributors to the project.,
					</div>
					<div>
						Any transactions after the split are completely separate between Bitcoin and Bitcoin Dollar. This means any unclaimed, Lost and unseeded Bitcoin acquired after or before the split does not include any Bitcoin Dollar, and any Bitcoin Dollar does not include any Bitcoin.
					</div>
				</div>

				<div class="faq-title">Which Development Team is In Charge of Bitcoin Dollar?</div>
				<div class="faq-body">
					Unlike the previous situation in Bitcoin, there is no one single development team for Bitcoin Dollar. There are now multiple independent teams of developers and community advisors. If you willing to join our team-Please click this link.
				</div>

				<div class="faq-title">
					When will Bitcoin Dollar be listed on exchange?
				</div>
				<div class="faq-body">
					A few exchanges have expressed interest but there is no exact timeline for BTD to become listed. BTD will most likely begin listing when the Bitcoin Dollar becomes active and changes in bitcoin blockchain split can be recorded on the blockchain. The development team estimates that the time to completion is around 2-4 months, however, bear in mind this could take longer due to unforeseen events common in software development. The Bitcoin Dollar development team will not be able to distribute unclaimed BTD until the network launches. If you are anxious about exchange listing dates, we suggest you do not contribute to the community initiative program and wait until such a listing happens.
				</div>

				<div class="faq-title">
					Is the Contribution capped?
				</div>
				<div class="faq-body">
					There is no limit on the amount of contributions that will be accepted. Capped contributions are typically dominated by a few large users with fast fingers. BTD seeks to be accessible to everyone wishing to join in creating a robust and vibrant Bitcoin Dollar blockchain.
				</div>

				<div class="faq-title">
					How is transaction replay being handled between the new and the old blockchain?
				</div>
				<div class="faq-body">
					Bitcoin Dollar transactions will use a different signature hashing algorithm. These signatures will not be valid on the Bitcoin Legacy network. This prevents Bitcoin Dollar transactions from being replayed on the Bitcoin blockchain and vice versa.
				</div>

				<div class="faq-title">
					Why is it necessary to create Bitcoin Dollar?
				</div>
				<div class="faq-body">
					The legacy Bitcoin and other bitcoin forks code had a maximum limit of 1MB-8MB of data per block, or about 3-12 transactions per second. Where transaction and confirmation is a threat for day to day transaction. Some transaction is talking days to confirm and charges are reaching as high as $700 per transaction. Major bitcoin and bitcoin forks are controlled by certain group individuals or the miners. It creates a power which erode user’s investment value. To counter this our project will be independent and community driven.					
				</div>

				<div class="faq-title">
					What is the minimum contribution and can I contribute from an exchange?
				</div>
				<div class="faq-body">
					The minimum contribution is $100 or its equivalent in altcoins or fiat currencies. Yes, if contributing, the user needs to send data alongside with the transaction ids, please make sure your exchange or wallet can do so. We have a partnership with coin payment to expedite and secure the contribution process.
				</div>

				<div class="faq-title">
					Are there bonus periods and Referral programs?
				</div>
				<div class="faq-body">
					For the time being,  there is a limited period bonus as it is a community-driven project. Yes, we do have a referral program wherever contributor represents our project and development plans to their colleagues.
				</div>
			</div>
		</div>
		<div class="col s2 m1 hide-on-small-only">&nbsp;</div>
	</div>
</div>