<div class="wto-container">
	<div class="row" style="margin-bottom: 0;">
		<div class="login-bg">
			<div>
				<div class="col s4 m2 hide-on-small-only">&nbsp;</div>
				<div class="col s12 m5 topgap40" style="margin-top: 120px">
					<div class="btd-login-title">FORGOT PASSWORD</div>
					<div class="row btd-signin-bg topgap10">
						<div class="col s1">&nbsp;</div>
						<div class="col s10">
							<div class="input-field topgap40">
								<input placeholder="Email" id="email" type="email" ng-model="forgot.mail" class="validate" style="margin-bottom: 0;color: #fff;">
								<label data-error="Invalid Email" class="active" for="email" style="font-size: 10px;top:10px;">EMAIL</label>
							</div>
							
							<div class="topgap40 relative">
								<span class="btn-btd-submit" style="width: 240px;right: 50%;transform: translateX(50%);" ng-click="sendResetLink()">SEND PASSWORD RESET</span>
							</div>
							<div class="topgap60 text-center">
								<a ui-sref="login" class="topgap60 inline-block existing-user">GO BACK TO LOGIN</a>
							</div>
							<div class="text-center topgap50 ">
								&nbsp;
							</div>
						</div>
						<div class="col s1">&nbsp;</div>
					</div>
				</div>
				<div class="col s4 m1 hide-on-small-only">&nbsp;</div>
				<div class="col s4 m3 hide-on-small-only signup-text-block" style="margin-top: 180px">
					<div>Put a strong but memorable password that you haven’t used anywhere to secure your account.</div>
					<div class="topgap15">
						Password should be atleast 8 characters, Must contain a combination of both upper-case and lower-case letters, one number and a special character
					</div>
					<div>eg: Coin@123</div>
					<div>
						If you are not sure you can remember a strong password, you’re probably better off writing it down and storing it in a secure and secret location than you are packing a weak password or reusing an old one.
					</div>
				</div>
				<div class="col s4 m1 hide-on-small-only">&nbsp;</div>
			</div>
		</div>	
	</div>
</div>