<div class="wto-container">
	<div class="row" style="margin-bottom: 0;">
		<div class="login-bg">
			<div>
				<div class="col s4 m3 hide-on-small-only">&nbsp;</div>
				<div class="col s12 m6 topgap40" style="margin-top: 120px">
					<div class="row">
						<div class="col s4 m1 hide-on-small-only">&nbsp;</div>
						<div class="col s12 m11">
							<div class="btd-login-title">Forgot Password</div>
							<div class="row btd-signin-bg topgap10">
								<div class="col s1">&nbsp;</div>
								<div class="col s10">
									<div class="input-field topgap40">
										<input placeholder="Email" id="email" type="email" ng-model="forgot.mail" class="validate" style="margin-bottom: 0;color: #fff;">
										<label data-error="Invalid Email" class="active" for="email" style="font-size: 14px;top:10px;">EMAIL</label>
									</div>
									
									<div class="topgap40 relative">
										<span class="btn-btd-submit" style="width: 100%;right: 50%;transform: translateX(50%);" ng-click="sendResetLink()">SEND PASSWORD RESET LINK</span>
									</div>
									<div class="topgap60 text-center">
										<a ui-sref="login" class="topgap60 inline-block existing-user" style="color: #fff;">
											<img src="/img/arrow.svg">
											<span class="inline-block font-white">GO BACK TO LOGIN</span>
										</a>
									</div>
									<div class="text-center topgap50 ">
										&nbsp;
									</div>
								</div>
								<div class="col s1">&nbsp;</div>
							</div>
						</div>
						<div class="col s4 m1 hide-on-small-only">&nbsp;</div>
					</div>
				</div>
				<div class="col s4 m3 hide-on-small-only">&nbsp;</div>
			</div>
		</div>	
	</div>
</div>