<div class="wto-container">
	<!-- <div class="hide-on-small-only" style="width: 500px;height: auto;position: fixed;bottom: 0;right: 0;z-index: 998;cursor: pointer;" ng-click="state.go('signup')" ng-if="showAd">
		<div style="position: relative;">
			<img src="/img/ad.png" style="width: 100%;height:auto;">
			<span style="width: 40px;height: 40px;background-color: #f5f5f5;position: absolute;top: 0;right: 0;z-index: 999;display: flex;justify-content: center;align-items: center;" ng-click="closeAd()">
				<img src="/img/close.svg" style="width: 15px;">
			</span>
		</div>
	</div> -->
	<div class="row">
		<div class="col s12 m12 wto-home-bg relative">
			<div class="text-center block-1-margin">
				<span class="wto-home-span">BITCOIN</span>
				<img class="logo" src="/img/btg-big.svg">
				<span class="wto-home-span">DOLLAR</span>
			</div>
			<div class="text-center relative topgap15">
				<span class="wto-frame-text">
					<div>First Artificial Intelligence Bitcoin</div>
					<div>of the people, for the people and by the people.</div>
				</span>
			</div>
			<div class="text-center topgap40">
				<span class="btd-join-btn inline-block" ng-click="state.go('signup')">JOIN US NOW</span>
			</div>
			<div class="text-center topgap40 font-white" style="letter-spacing: 1px;">
				<span class="font-18 font-weight-600">CONTRIBUTION REACHED </span>
				<span class="font-18 font-weight-300">(50% BONUS)</span>
			</div>
			<div class="topgap15 text-center">
				<span class="inline-block relative">
					<img src="/img/loading.gif">
					<span class="soft-cap">SOFT CAP</span>
					<span class="hard-cap">HARD CAP</span>
				</span>
			</div>
			<div class="topgap20 text-center">
				<div class="font-20 font-weight-600 font-white" style="line-height: 2.25;letter-spacing: 1px;">
					Get Ready to Claim Your Free BTD Coins
				</div>
				<a href="https://t.me/joinchat/HvktGRIg6t0x7wL5VQeOIQ" target="_blank" class="font-14 font-white" style="letter-spacing: 1px;">Have questions? Ask us on Telegram Click Here.</a>
			</div>
			<!-- <div class="bottom-prices">
				<div class="font-white">Exchange Launched Price</div>
				<span class="inline-block price-section">BTC/ USD- $14500</span>
				<div class="topgap6">
					<span class="inline-block price-section">BCH/ USD- $543</span>
					<span class="inline-block price-section">BTG/ USD- $524</span>
					<span class="inline-block price-section">BCA/ USD- $1260</span>
				</div>
				<span class="inline-block price-section">BCD/ USD- $40</span>
			</div> -->

			<div class="social-banners hide-on-small-only">
				<div class="flex">
					<a href="https://twitter.com/bitcoin_dollar" target="_blank" style="height: 40px;">
						<img src="/img/banner/twitter.svg" class="inline-block">
					</a>
					<span class="follower-class">21k Followers</span>
				</div>
				<div class="flex">
					<a href="https://www.facebook.com/Bitcoin-Dollar-1533800040002394" target="_blank" style="height: 40px;">
						<img src="/img/banner/facebook.svg">
					</a>
					<span class="follower-class">5k Likes</span>
				</div>
				<div class="flex">
					<a href="https://t.me/joinchat/HvktGRIg6t0x7wL5VQeOIQ" target="_blank" style="height: 40px;">
						<img src="/img/banner/telegram.svg">
					</a>
						<span class="follower-class">2k Members</span>
				</div>
				<div class="flex">
					<img src="/img/banner/subscribers.svg">
					<span class="follower-class">25k Subscribers</span>
				</div>
				<div class="flex">
					<a href="https://s3.us-east-2.amazonaws.com/btdollar/whitepaper.pdf" target="_blank">
						<img src="/img/banner/whitepaper.svg">
					</a>
					<a target="_blank" class="follower-class" href="https://s3.us-east-2.amazonaws.com/btdollar/whitepaper.pdf">Whitepaper</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row wto-white-bg">
		<div class="col s1">&nbsp;</div>
		<div class="col s10 topgap40 section wow fadeIn">
			<h5 class="btd-title" style="margin-top: 20px;">
				<div class="text-left">Artificial intelligence Bitcoin</div>
			</h5>
			<div class="font-16 font-weight-300 text-center topgap30 bottomgap40" style="color: #233d4e;line-height: 1.75;letter-spacing: 0.5px;">
				<div class="text-left">
					Bitcoin Dollar is bringing the most secure, reliable, private and encrypted digital currency. With a built-in smart contract, digital assets can be issued & distributed, applications can be built on the blockchain, making BTD a valuable & functional token. All Bitcoin holders as of Feb 28, 2018, will be owners of Bitcoin Dollars. Everyone is welcome to join the Bitcoin Dollar community to build and innovate sound money accessible to the whole world. Bitcoin holders will be given 45 days to claim their respective BTDs.  If not claimed within specified durations, Bitcoin Dollar (BTD) will be distributed among the early backers, donors or contributors to the project. We are a community-driven project, no one will stack claim for the unclaimed BTDs. It will be distributed among the community according to their contributions. All bitcoin holders have to claim their BTD individually, no exchange have any rights to deny BTD to the user at the time blockchain Split.
				</div>
			</div>
		</div>
		<div class="col s1">&nbsp;</div>
	</div>

	<div class="row wto-white-bg">
		<div class="col s1">&nbsp;</div>
		<div class="col s10 section scrollspy bottomgap20 wow fadeIn">
			<h5 class="text-center btd-title" style="margin-top: 20px;">
				<div>FEATURES</div>
			</h5>
			<div class="row topgap40 bottomgap20">
				<div class="col s12 m5">
					<img src="/img/1.jpg" style="width: 95%;height:auto;">
				</div>
				<div class="col s12 m7">
					<div class="feature-title">AI (Artificial Intelligence)</div>
					<div class="font-15 topgap20 text-justify" style="color: #233d4e;line-height: 1.75;letter-spacing: 0.5px;">
						<span>
							AI (Artificial Intelligence), Robotics, IoT (Internet of Things) and many such new technologies are altering the very contours of industries across sectors. With data as the new king, user behavior is changing.
						</span>
						<span class="btd-yellow cursor" ng-click="first = '1'" ng-show="first != '1'">..More</span>
						<span ng-show="first == '1'">
							Companies will need a platform which will help them to merge blockchain with AI, IoT, Cloud, Big Data etc. It is essential that we invest in learning new technologies outside our domain and gain functional knowledge in emerging industries.
						</span>
					</div>	
				</div>
			</div>
		</div>
		<div class="col s1">&nbsp;</div>
	</div>

	<div class="row wto-white-bg" style="background-color: #fafafa;">
		<div class="col s1">&nbsp;</div>
		<div class="col s10 section scrollspy bottomgap20 wow fadeIn" id="about">
			<div class="row topgap50 bottomgap20">
				<div class="col s12 m7">
					<div class="feature-title">Equitable Distribution</div>
					<div class="font-15 topgap20 text-justify" style="color: #233d4e;line-height: 1.75;letter-spacing: 0.5px;">
						<span>
							Bitcoin’s blockchain equitable will distributes Bitcoin Dollar all over the world who have interest in cryptocurrencies. There are approx 370 million Bitcoin accounts in 8000 exchanges & wallets worldwide.
						</span>
						<span class="btd-yellow cursor" ng-click="second = '2'" ng-show="second != '2'">..More</span>
						<span ng-show="second == '2'">
							Bitcoin in those accounts are so minuscule it average 0.006670 BTC per private key & many users has lost or not claimed their BTC. Apart from this 28% to 45% bitcoin are unused or lost in time. Therefore, those unclaimed BTDs will be distributed to early birds or contributors. As matter of fact, about 60% exchanges have not shared Bitcoin cash or Bitcoin gold to their users.
						</span>
					</div>	
				</div>
				<div class="col s12 m5 text-right">
					<img src="/img/2.jpg" style="width: 95%;height:auto;">
				</div>
			</div>
			
		</div>
		<div class="col s1">&nbsp;</div>
	</div>

	<div class="row wto-white-bg">
		<div class="col s1">&nbsp;</div>
		<div class="col s10 section scrollspy bottomgap20 wow fadeIn" id="about">
			<div class="row topgap50 bottomgap20">
				<div class="col s12 m5">
					<img src="/img/3.jpg" style="width: 95%;height:auto;">
				</div>
				<div class="col s12 m7">
					<div class="feature-title">Community Chain</div>
					<div class="font-15 topgap20 text-justify" style="color: #233d4e;line-height: 1.75;letter-spacing: 0.5px;">
						<span>
							With POW and PoS consensus mechanism, voting and bookkeeping rights can be separated, which prevents abuse or control of the system by any party. Users can maintain the policy discourse as long as they possess coins,
						</span>
						<span class="btd-yellow cursor" ng-click="third = '3'" ng-show="third != '3'">..More</span>
						<span ng-show="third == '3'">
							 thus achieve the true autonomy.To create a sustainable environment within Bitcoin dollar community, we have formulated BTD chain to contribute, refer, promote, develop and share. This will help us to distribute unclaimed BTDs among our community and gain trust to reach our objectives.
						</span>
					</div>	
				</div>
			</div>
		</div>
		<div class="col s1">&nbsp;</div>
	</div>

	<div class="row wto-white-bg">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 section scrollspy bottomgap20 wow fadeIn" id="about">
			<div class="flex-xs topgap40">
				<div class="text-center feature-icon-block">
					<div tooltips tooltip-template="<b class='font-18'>Equitable Distribution</b><div class='font-14 topgap10'>With POW/DPoS consensus mechanism, voting and bookkeeping rights can be separated, which prevents abuse or control of the system by any party. Users can maintain the policy discourse as long as they possess coins, thus achieve the true autonomy.</div>">
						<div class="feature-icon-img"><img src="/img/roi-copy.svg"></div>
						<div class="feature-sm-title">Equitable<br/>Distribution</div>
					</div>
				</div>
				<div class="text-center feature-icon-block">
					<a href="https://github.com/deeplearning4j/deeplearning4j" target="_blank">
						<div class="feature-icon-img"><img src="/img/dependables-copy.svg"></div>
						<div class="feature-sm-title">AI<br/>(Artificial Intelligence)</div>
					</a>
				</div>
				<div class="text-center feature-icon-block">
					<a href="https://github.com/topics/decentralized" target="_blank">
						<div class="feature-icon-img"><img src="/img/decentralization.svg"></div>
						<div class="feature-sm-title">Decentralized</div>
					</a>
				</div>
				<div class="text-center feature-icon-block"">
					<a href="https://github.com/ccxt/ccxt" target="_blank">
						<div class="feature-icon-img"><img src="/img/graph.svg"></div>
						<div class="feature-sm-title">AI Exchange (No fees)</div>
					</a>
				</div>
				<div class="text-center feature-icon-block">
					<a href="https://github.com/ConsenSys/smart-contract-best-practices" target="_blank">
						<div class="feature-icon-img"><img src="/img/earth-copy.svg"></div>
						<div class="feature-sm-title">Smart Contract</div>
					</a>
				</div>
			</div>
		</div>
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	</div>

	<div class="row wto-white-bg">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 section scrollspy bottomgap20 wow fadeIn" id="about">
			<div class="flex-xs topgap40">
				<div class="text-center feature-icon-block">
					<a href="https://github.com/Primechain/blockchain-security-controls" target="_blank">
						<div class="feature-icon-img"><img src="/img/secure-copy.svg"></div>
						<div class="feature-sm-title">Secure</div>
					</a>
				</div>
				<div class="text-center feature-icon-block">
					<a href="https://github.com/OpenNetworking/bitcoin-dependencies" target="_blank">
						<div class="feature-icon-img"><img src="/img/private-copy.svg"></div>
						<div class="feature-sm-title">Private</div>
					</a>
				</div>
				<div class="text-center feature-icon-block">
					<a href="" tooltips tooltip-template="<b class='font-18'>Speed</b><div class='font-14 topgap10'>.1 to 2 seconds per block with 4-16 M blocksize design could support 10,000 to 50,000 transactions per second, and completely solved the most contended bitcoin congestion problem, and increase the adption and utilization.</div>">
						<div class="feature-icon-img"><img src="/img/rocket.png"></div>
						<div class="feature-sm-title">Speed</div>
					</a>
				</div>
				<div class="text-center feature-icon-block">
					<div tooltips tooltip-template="<b class='font-18'>D App</b><div class='font-14 topgap10'>Support all kinds of DApp development, including zero knowledge proof (included in the plan), cross-chain atomic transactions.Long term virtual exchange platform.</div>">
						<div class="feature-icon-img"><img src="/img/peer-to-peer.svg"></div>
						<div class="feature-sm-title">D App</div>
					</div>
				</div>
				<div class="text-center feature-icon-block">
					<div tooltips tooltip-template="<b class='font-18'>Anonymity</b><div class='font-14 topgap10'>The original bitcoin holders can claim BTD at a 1:1 ratio, the rest will be distributed through forging in a convergent manner, while the block rewards halves in every four years.</div>">
						<div class="feature-icon-img"><img src="/img/anonymous-copy.svg"></div>
						<div class="feature-sm-title">Anonymity</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	</div>

	<div class="row wto-white-bg hide-on-small-only">
		<div class="col s1">&nbsp;</div>
		<div class="col s10 section scrollspy topgap20 wow fadeIn">
			<h5 class="text-center btd-title" style="margin-top: 20px;">
				<div>COMPARISON</div>
			</h5>
		</div>
		<div class="col s1">&nbsp;</div>
	</div>

	<div class="row hide-on-small-only" style="margin: 0;padding: 8px 0;">
		<div class="col s12">
			<div class="row" style="margin: 0">
				<div class="col s2"></div>
				<div class="col s10 flex">
					<div class="table-title" style="width: 30%;">
						<div>Bitcoin</div>
						<div class="font-weight-100">(BTC)</div>
					</div>
					<div class="table-title" style="width: 30%;">
						<div>Segwit 2X</div>
						<div class="font-weight-100">(B2X)</div>
					</div>
					<div class="table-title" style="width: 30%;">
						<div>Bitcoin Gold</div>
						<div class="font-weight-100">(BTG)</div>
					</div>
					<div class="table-title" style="width: 30%;">
						<div>Bitcoin Cash</div>
						<div class="font-weight-100">(BCH)</div>
					</div>
					<div class="table-title" style="width: 30%;color: #ef6c00;">
						<div>Bitcoin Dollar</div>
						<div class="font-weight-100">(BTD)</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hide-on-small-only" style="background-color: #e8e9ed;margin: 0;padding: 8px 0;">
		<div class="col s12">
			<div class="row" style="margin: 0">
				<div class="col s2 table-body" style="padding-left: 40px;">
					MAX SUPPLY
				</div>
				<div class="col s10 flex">
					<div class="table-body text-center" style="width: 30%;">
						<div>21 MIL</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>21 MIL</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>21 MIL</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>21 MIL</div>
					</div>
					<div class="table-body text-center" style="width: 30%;color: #ef6c00;">
						<div>21 MIL</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hide-on-small-only" style="margin: 0;padding: 8px 0;">
		<div class="col s12">
			<div class="row" style="margin: 0">
				<div class="col s2 table-body" style="padding-left: 40px;">
					Distribution
				</div>
				<div class="col s10 flex">
					<div class="table-body text-center" style="width: 30%;">
						<div>MINING</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>MINING,CLAIMING</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>MINING,CLAIMING</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>MINING,CLAIMING</div>
					</div>
					<div class="table-body text-center" style="width: 30%;color: #ef6c00;">
						<a href="https://en.bitcoin.it/wiki/Proof_of_Stake" target="_blank">
							<div style="color: #ef6c00;">MINING(POW)/CONSENSUS(DPOS)</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hide-on-small-only" style="background-color: #e8e9ed;margin: 0;padding: 8px 0;">
		<div class="col s12">
			<div class="row" style="margin: 0">
				<div class="col s2 table-body" style="padding-left: 40px;">
					Mining Algorithm
				</div>
				<div class="col s10 flex">
					<div class="table-body text-center" style="width: 30%;">
						<div>SHA256(ASIC)</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>SHA256(ASIC)</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>EQUIHASH(GPU)</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>SHA256(ASIC)</div>
					</div>
					<div class="table-body text-center" style="width: 30%;color: #ef6c00;">
						<div>OPTIMIZED X15 GPU/CPU</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hide-on-small-only" style="margin: 0;padding: 8px 0;">
		<div class="col s12">
			<div class="row" style="margin: 0">
				<div class="col s2 table-body" style="padding-left: 40px;">
					BLOCKTIME
				</div>
				<div class="col s10 flex">
					<div class="table-body text-center" style="width: 30%;">
						<div>10 MINUTES</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>10 MINUTES</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>10 MINUTES</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>10 MINUTES</div>
					</div>
					<div class="table-body text-center" style="width: 30%;color: #ef6c00;">
						<div>6 SECONDS</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hide-on-small-only" style="background-color: #e8e9ed;margin: 0;padding: 8px 0;">
		<div class="col s12">
			<div class="row" style="margin: 0">
				<div class="col s2 table-body" style="padding-left: 40px;">
					MAX.BLOCKSIZE (SEGWIT)
				</div>
				<div class="col s10 flex">
					<div class="table-body text-center" style="width: 30%;">
						<div>1 MB (2-4MB)</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>2 MB (4-8MB)</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>1 MB (2-4MB)</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>8 MB</div>
					</div>
					<div class="table-body text-center" style="width: 30%;color: #ef6c00;">
						<div>4-16 MB</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hide-on-small-only" style="margin: 0;padding: 8px 0;">
		<div class="col s12">
			<div class="row" style="margin: 0">
				<div class="col s2 table-body" style="padding-left: 40px;">
					BLOCKCHAIN SIZE
				</div>
				<div class="col s10 flex">
					<div class="table-body text-center" style="width: 30%;">
						<div>~145 GB</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>~145 GB</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>~145 GB</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>~135 GB</div>
					</div>
					<div class="table-body text-center" style="width: 30%;color: #ef6c00;">
						<div>~125 GB</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hide-on-small-only" style="background-color: #e8e9ed;margin: 0;padding: 8px 0;">
		<div class="col s12">
			<div class="row" style="margin: 0">
				<div class="col s2 table-body" style="padding-left: 40px;">
					DIFFICULTY ADJUSTMENT
				</div>
				<div class="col s10 flex">
					<div class="table-body text-center" style="width: 30%;">
						<div>2 WEEKS</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>2 WEEKS</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>EVERY BLOCK</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>2 WEEKS+EDA</div>
					</div>
					<div class="table-body text-center" style="width: 30%;color: #ef6c00;">
						<div>1 WEEK</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hide-on-small-only" style="margin: 0;padding: 8px 0;">
		<div class="col s12">
			<div class="row" style="margin: 0">
				<div class="col s2 table-body" style="padding-left: 40px;">
					MAXTX/DAY
				</div>
				<div class="col s10 flex">
					<div class="table-body text-center" style="width: 30%;">
						<div>~1.2 MIL</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>~2.4 MIL</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>~1.2 MIL</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>~4.8 MIL</div>
					</div>
					<div class="table-body text-center" style="width: 30%;color: #ef6c00;">
						<div>~48 MIL</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hide-on-small-only" style="background-color: #e8e9ed;margin: 0;padding: 8px 0;">
		<div class="col s12">
			<div class="row" style="margin: 0">
				<div class="col s2 table-body" style="padding-left: 40px;">
					SEGWIT
				</div>
				<div class="col s10 flex">
					<div class="table-body text-center" style="width: 30%;">
						<div>YES</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>YES</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>YES</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>NO</div>
					</div>
					<div class="table-body text-center" style="width: 30%;color: #ef6c00;">
						<div>NO</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hide-on-small-only" style="margin: 0;padding: 8px 0;">
		<div class="col s12">
			<div class="row" style="margin: 0">
				<div class="col s2 table-body" style="padding-left: 40px;">
					REPLAY PROTECTION
				</div>
				<div class="col s10 flex">
					<div class="table-body text-center" style="width: 30%;">
						<div>NOT NECESSARY</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>NO</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>YES</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>YES</div>
					</div>
					<div class="table-body text-center" style="width: 30%;color: #ef6c00;">
						<div>YES</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hide-on-small-only" style="background-color: #e8e9ed;margin: 0;padding: 8px 0;">
		<div class="col s12">
			<div class="row" style="margin: 0">
				<div class="col s2 table-body" style="padding-left: 40px;">
					ESTABLISHED SINCE
				</div>
				<div class="col s10 flex">
					<div class="table-body text-center" style="width: 30%;">
						<div>2009</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>NOV 2017</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>OCT 2017</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>AUG 2017</div>
					</div>
					<div class="table-body text-center" style="width: 30%;color: #ef6c00;">
						<div>JAN 2018</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hide-on-small-only" style="margin: 0;padding: 8px 0;">
		<div class="col s12">
			<div class="row" style="margin: 0">
				<div class="col s2 table-body" style="padding-left: 40px;">
					AMOUNT ENCRYPTED
				</div>
				<div class="col s10 flex">
					<div class="table-body text-center" style="width: 30%;">
						<div>NO</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>NO</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>NO</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>NO</div>
					</div>
					<div class="table-body text-center" style="width: 30%;color: #ef6c00;">
						<div>YES</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hide-on-small-only" style="background-color: #e8e9ed;margin: 0;padding: 8px 0;">
		<div class="col s12">
			<div class="row" style="margin: 0">
				<div class="col s2 table-body" style="padding-left: 40px;">
					SPLIT/FORK DISTRIBUTION
				</div>
				<div class="col s10 flex">
					<div class="table-body text-center" style="width: 30%;">
						<div>NO</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>NO</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>Partial(Claimed)</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>Partial(Claimed)</div>
					</div>
					<div class="table-body text-center" style="width: 30%;color: #ef6c00;">
						<div>Total</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hide-on-small-only" style="margin: 0;padding: 8px 0;">
		<div class="col s12">
			<div class="row" style="margin: 0">
				<div class="col s2 table-body" style="padding-left: 40px;">
					NON USABLE/LOST BTC
				</div>
				<div class="col s10 flex">
					<div class="table-body text-center" style="width: 30%;">
						<div>NO</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>NO</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>NO</div>
					</div>
					<div class="table-body text-center" style="width: 30%;">
						<div>NO</div>
					</div>
					<div class="table-body text-center" style="width: 30%;color: #ef6c00;">
						<div>YES</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row wto-white-bg">
		<div class="col s12 text-center">
			<div class="topgap50">
				<span class="inline-block price-section" style="font-weight: 600">EXCHANGE LAUNCH PRICE:</span>
				<span class="inline-block price-section">BCH/ USD- $543</span>
				<span class="inline-block price-section">BTG/ USD- $524</span>
				<span class="inline-block price-section">BCA/ USD- $1260</span>
			</div>	
		</div>
	</div>

	<div class="row wto-white-bg topgap30" style="background-color: #fafafa;">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 section scrollspy topgap40 bottomgap20 wow fadeIn" id="exchanges">
			<h5 class="text-center btd-title" style="margin-top: 20px;">
				<div>EXCHANGES</div>
			</h5>
			<div class="bt-grey font-15 text-center">Following entities have expressed intent to support BTD.</div>
			<div class="flex-xs topgap40 wallets-images">
				<a href="https://www.binance.com" target="_blank"><img src="/img/exchanges/1.png"></a>
				<a href="https://bitbay.net/en" target="_blank"><img src="/img/exchanges/2.png"></a>
				<a href="https://bitflyer.jp/en" target="_blank"><img src="/img/exchanges/3.png"></a>
				<a href="https://www.bitstamp.net" target="_blank"><img src="/img/exchanges/4.png"></a>
				<a href="https://bittrex.com" target="_blank"><img src="/img/exchanges/5.png"></a>
			</div>
			<div class="flex-xs topgap50 wallets-images">
				<a href="https://bleutrade.com" target="_blank"><img src="/img/exchanges/6.png"></a>
				<a href="https://cex.io" target="_blank"><img src="/img/exchanges/7.png"></a>
				<a href="https://www.coinbase.com" target="_blank"><img src="/img/exchanges/8.png"></a>
				<a href="https://www.coinfloor.co.uk" target="_blank"><img src="/img/exchanges/9.png"></a>
				<a href="https://www.coinnest.co.kr" target="_blank"><img src="/img/exchanges/10.png"></a>
			</div>
			<div class="flex-xs topgap50 wallets-images">
				<a href="https://evercoin.com" target="_blank"><img src="/img/exchanges/11.png"></a>
				<a href="https://gate.io" target="_blank"><img src="/img/exchanges/12.png"></a>
				<a href="https://www.gdax.com" target="_blank"><img src="/img/exchanges/13.png"></a>
				<a href="https://hitbtc.com" target="_blank"><img src="/img/exchanges/14.png"></a>
				<a href="https://www.huobi.pro" target="_blank"><img src="/img/exchanges/15.png"></a>
			</div>
			<div class="flex-xs topgap50 wallets-images">
				<a href="https://www.korbit.co.kr" target="_blank"><img src="/img/exchanges/16.png"></a>
				<a href="https://shapeshift.io/#" target="_blank"><img src="/img/exchanges/17.png"></a>
				<a href="https://www.kraken.com" target="_blank"><img src="/img/exchanges/18.png"></a>
				<a href="https://www.okex.com" target="_blank"><img src="/img/exchanges/19.png"></a>
				<a href="https://poloniex.com" target="_blank"><img src="/img/exchanges/20.png"></a>
			</div>

			<div class="text-center topgap60 bottomgap40">
				<span class="inline-block rightgap30 topgap20">
					<span class="circle-small" style="background-color: #05e7e6;"></span>
					<span class="font-14 bt-grey leftgap15">Trading Soon</span>
				</span>
				<span class="inline-block rightgap30 topgap20 leftgap20">
					<span class="circle-small" style="background-color: #f5a623;"></span>
					<span class="font-14 bt-grey leftgap15">Coming Soon</span>
				</span>
				<span class="inline-block rightgap30 leftgap20 topgap20">
					<span class="circle-small" style="background-color: #d9adff;"></span>
					<span class="font-14 bt-grey leftgap15">Future</span>
				</span>
			</div>
		</div>
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	</div>

	<div class="row wto-white-bg topgap50">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 section scrollspy topgap40 bottomgap20 wow fadeIn" id="road-map">
			<h5 class="text-center btd-title relative" style="margin-top: 20px;border-bottom: 1px dashed #b5b8bd;">
				<span class="on-border-position">ROADMAP</span>
			</h5>
			<div class="row topgap60">
				<div class="col s12 m4 relative">
					<div class="main-road-map">
						<div class="road-map-container">
							<span class="road-map-circle"><span class="rm-inside-text">Q1-Q3</span></span>
							<span class="road-map-inside">
								Will be Created on<br/>Feb, 28 2018
							</span>
						</div>
						<div class="road-map-bottom">
							<a href="https://github.com/blockchain-certificates" target="_blank" style="color: #233d4e;">
								Unclaimed BTD distributions,<br/>mainnet update, Chain encryption.
							</a>
						</div>
					</div>
					<span class="road-map-year">2018</span>
				</div>
				<div class="col s12 m4 relative">
					<div class="main-road-map">
						<div class="road-map-container">
							<span class="road-map-circle"><span class="rm-inside-text">Q3-Q4</span></span>
							<span class="road-map-inside">
								Clientele, Full node client,<br/>Wallets, etc
							</span>
						</div>
						<div class="road-map-bottom">Community consensus, Scalability, Difficulty<br/>adjustments algorithm, Optimized X15(GPU),<br/>BTD Ecology Smart Contract and DAPP</div>
					</div>
					<span class="road-map-year" style="bottom: -13%;">2018</span>
				</div>
				<div class="col s12 m4 relative">
					<div class="main-road-map">
						<div class="road-map-container">
							<span class="road-map-circle"><span class="rm-inside-text">Q1,Q4</span></span>
							<span class="road-map-inside">
								AI technology and broader<br/>consensus
							</span>
						</div>
						<div class="road-map-bottom">
							<a href="https://www.codemade.io/tag/artificial-intelligence" target="_blank" style="color: #233d4e;">
								AI (Artificial Intelligence), Robotics, IoT (Internet<br/>of Things) and many such new technologies<br/>integration to the Bitcoin Dollar, promotion,and<br/>events and the mottos.50000 transactions<br/>per second.
							</a>
						</div>
					</div>
					<span class="road-map-year" style="bottom: -2%;">2018</span>
				</div>
			</div>
			<div class="text-center" style="margin-top: 80px;">
				<span class="inline-block btd-grey font-18 font-weight-600">CLICK TO VIEW :</span>
			</div>
			<div class="text-center">
				<a href="https://s3.us-east-2.amazonaws.com/btdollar/whitepaper.pdf" target="_blank" class="inline-block btd-grey font-16 font-weight-600">Bitcoin Dollar Development Plan</a>
			</div>
		</div>
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	</div>

	<div class="row wto-white-bg topgap30">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 section scrollspy topgap40 bottomgap20 wow fadeIn" id="wallet">
			<h5 class="text-center btd-title" style="margin-top: 20px;">
				<div>WALLETS</div>
			</h5>
			<div class="flex-xs wallets-images topgap20">
				<a href="https://www.bitgo.com" target="_blank"><img src="/img/wallets/1.png"></a>
				<a href="https://bitpay.com" target="_blank"><img src="/img/wallets/2.jpg"></a>
				<a href="https://bity.com" target="_blank"><img src="/img/wallets/3.png"></a>
				<a href="https://www.exodus.io" target="_blank"><img src="/img/wallets/4.png"></a>
				<a href="https://freewallet.org" target="_blank"><img src="/img/wallets/5.png"></a>
			</div>
			<div class="flex-xs wallets-images topgap50">
				<a href="https://www.ledgerwallet.com" target="_blank"><img src="/img/wallets/6.png"></a>
				<a href="https://www.mobi.me" target="_blank"><img src="/img/wallets/7.png"></a>
				<a href="https://trezor.io" target="_blank"><img src="/img/wallets/8.png"></a>
				<a href="https://www.unitwallet.co" target="_blank"><img src="/img/wallets/9.png"></a>
				<a href="https://www.wmtransfer.com" target="_blank"><img src="/img/wallets/10.png"></a>
			</div>
			<div class="text-center topgap60 bottomgap40">
				<span class="inline-block rightgap30 topgap20">
					<span class="circle-small" style="background-color: #05e7e6;"></span>
					<span class="font-14 bt-grey leftgap15">Coming Soon</span>
				</span>
				
				<span class="inline-block rightgap30 leftgap20 topgap20">
					<span class="circle-small" style="background-color: #d9adff;"></span>
					<span class="font-14 bt-grey leftgap15">Future</span>
				</span>
			</div>
		</div>
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	</div>

	<div class="row wto-white-bg topgap30">
		<div class="col s1">&nbsp;</div>
		<div class="col s10 section text-justify scrollspy bottomgap20 wow fadeIn" style="background-color: #f7f7fa;letter-spacing: 0.4px;line-height: 1.29;padding: 15px;border-radius: 10px;">
			<span class="label-grey font-14">
				Disclaimer: 
			</span>
			<span class="font-14" style="color:#f13434">
				The Bitcoin Dollar (BTD) do not take any responsibility for third party providers, such as the listed exchanges, wallets, sites and pools. All links hosted on our domain are by community members and third parties and by clicking on any of the listed links you are accepting the risks of using the third party domain and taking responsibility for any losses, damage or other issues using said domain. Cryptocurrencies are inherently risky and investors and users must remain vigilant.
			</span>
		</div>
		<div class="col s1">&nbsp;</div>
	</div>

	<div class="row wto-white-bg topgap30">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 section scrollspy topgap40 bottomgap20 wow fadeIn" id="about">
			<h5 class="text-center btd-title" style="margin-top: 20px;">
				<div>AI EXCHANGE</div>
			</h5>
			<div class="row topgap50">
				<div class="col s12 text-center">
					<!-- <div class="font-20 font-weight-600 label-grey">How Peter became a Millionaire ?</div> -->
					<img src="/img/vid.gif" class="topgap10" style="width: 80%;height: auto;">
				</div>
				<!-- <div class="col s12 m6">
					<img src="/img/Structure.svg" class="topgap35" style="width: 100%;height: auto;">
				</div> -->
			</div>
		</div>
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	</div>

	<div class="row wto-white-bg topgap30 hide-on-small-only">
		<div class="col s1">&nbsp;</div>
		<div class="col s10 section scrollspy topgap40 bottomgap20 wow fadeIn">
			<h5 class="text-center btd-title" style="margin-top: 20px;">
				<div>DEVELOPMENT AID</div>
			</h5>
			<div class="flex-xs wallets-images topgap50" style="justify-content: center;align-content: center;">
				<a href="https://www.tesla.com/energy" target="_blank"><img src="/img/dev/Tesla.svg" style="margin-right: 40px;vertical-align: text-bottom;margin-top: 14px;"></a>
				<a href="https://www.google.com" target="_blank"><img src="/img/dev/Google.svg" style="margin: 0 40px;vertical-align: text-bottom;"></a>
				<a href="https://ripple.com" target="_blank"><img src="/img/dev/XRP.svg"  style="margin: 0 40px;vertical-align: text-bottom;margin-top: 5px;"></a>
				<a href="https://www.oracle.com/index.html" target="_blank"><img src="/img/dev/Oracle.svg" style="margin:0 40px;vertical-align: text-bottom;margin-top: 15px;"></a>
				<a href="https://www.bet365.com/en/" target="_blank"><img src="/img/dev/Bet365.png" style="margin-left:40px;vertical-align: text-bottom;margin-top: 5px;"></a>
			</div>
		</div>
		<div class="col s1">&nbsp;</div>
	</div>

	<div class="row wto-white-bg topgap30">
		<div class="col s3 m3 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m6 section scrollspy topgap40 bottomgap20 wow fadeIn" id="about">
			<h5 class="text-center btd-title" style="margin-top: 20px;">
				<div class="font-36">GET IN TOUCH</div>
			</h5>
			<div class="font-24 bt-grey text-center" style="letter-spacing: 1.8px;">Let us answer any questions </div>
			<div class="row topgap50">
				<div class="col s6">
					<div class="input-field">
						<input placeholder="Full Name" id="full_name" type="text" class="validate" style="margin-bottom: 0;background-color: rgba(181,184,189,0.15);border:1px solid rgba(151,151,151,0.15);box-shadow: none;padding-left: 0.5rem;" ng-model="contact.userFullName">
						<!-- <label class="active" for="first_name" style="font-size: 10px;top:10px;">FULL NAME</label> -->
					</div>
					<div class="input-field">
						<input placeholder="Email" id="email" type="text" class="validate" style="margin-bottom: 0;background-color: rgba(181,184,189,0.15);border:1px solid rgba(151,151,151,0.15);box-shadow: none;padding-left: 0.5rem;" ng-model="contact.userEmailId" ng-change="validateEmail(contact.userEmailId)" required>
						<!-- <label class="active" for="email" style="font-size: 10px;top:10px;">EMAIL</label> -->
						<div class="font-10 topgap6" style="color: #ff6565">{{errmsg}}</div>
					</div>
				</div>
				<div class="col s6">
					<div class="input-field">
						<textarea placeholder="Description" id="textarea1" class="materialize-textarea" ng-model="contact.userMessage" style="background-color: rgba(181,184,189,0.15);border:1px solid rgba(151,151,151,0.15);box-shadow: none;min-height: 4.8rem;padding-left: 0.5rem;margin-bottom: 0;"></textarea>
						<!-- <label class="active" for="textarea1" style="font-size: 10px;top:10px;">YOUR MESSAGE</label> -->
					</div>
				</div>
				<div class="col s12" style="padding-right: 0;">
					<div class="btn-submit-contact topgap6" ng-click="contactUs()">SUBMIT</div>
				</div>
			</div>
		</div>
		<div class="col s3 m3 hide-on-small-only">&nbsp;</div>
	</div>

	<!-- <div class="row">
		<div class="col s12 parallax-container">
			<div class="parallax"><img src="img/banner.jpg"></div>
			<div class="wto-coming-soon topgap35">&nbsp;</div>
			<div class="text-center topgap35">
				<a href="https://s3.ap-south-1.amazonaws.com/tourcoin/whitepaper.pdf" target="_blank" class="download-whitepaper wow fadeInLeft">
					<img class="middle" src="/img/download-whitepaper.svg">
					<span class="inline-block leftgap20 middle">DOWNLOAD WHITEPAPER</span>
				</a>
				<div class="join-ico cursor wow fadeInRight" ng-click="state.go('signup')">
					<span class="inline-block leftgap20 middle">JOIN THE ICO</span>
					<span class="ico-arrow">
						<img class="middle" src="/img/arrow.svg">
					</span>
				</div>
			</div>
		</div>
	</div> -->
</div>