<div class="wto-container">
	<div class="row" style="margin-bottom: 0;">
		<div class="login-bg">
			<div>
				<div class="col s4 m2 hide-on-small-only">&nbsp;</div>
				<div class="col s12 m5" style="margin-top: 120px">
					<div class="btd-login-title">SIGN IN</div>
					<div class="row btd-signin-bg topgap10">
						<div class="col s1">&nbsp;</div>
						<div class="col s10">
							<div class="input-field topgap40">
								<input placeholder="Email" id="email" type="email" class="validate" style="margin-bottom: 0;color: #fff;" ng-model="loginObj.userEmail">
								<label data-error="Invalid Email" class="active" for="email" style="font-size: 10px;top:10px;">EMAIL</label>
							</div>
							<div class="input-field topgap40">
								<input placeholder="Password" id="password" type="password" class="validate" style="margin-bottom: 0;color: #fff;" ng-model="loginObj.userPassword">
								<label class="active font-10" style="font-size: 10px;top:10px;" for="password">PASSWORD</label>
							</div>
							<div class="font-10 topgap6 text-center" style="color: #ff6565">{{loginError}}</div>
							<!-- <div class="topgap50">
								<div class="g-recaptcha" data-sitekey="6LdtRDgUAAAAALix9YJiyJKQOiGSWqzEqGD7rLoC"></div>
							</div> -->
							<div class="topgap30 relative">
								<span class="inline-block">
									<a ui-sref="forgotPassword" class="inline-block existing-user">FORGOT PASSWORD</a><br/>
									<a ui-sref="signup" class="inline-block existing-user">SIGNUP</a>
								</span>
								<span class="btn-btd-submit" ng-click="login()">LOGIN</span>
							</div>
							<div class="text-center topgap50 ">
								&nbsp;
							</div>
						</div>
						<div class="col s1">&nbsp;</div>
					</div>
				</div>
				<div class="col s4 m1 hide-on-small-only">&nbsp;</div>
				<div class="col s4 m3 hide-on-small-only signup-text-block" style="margin-top: 180px">
					<div>Put a strong but memorable password that you haven’t used anywhere to secure your account.</div>
					<div class="topgap15">
						Password should be atleast 8 characters, Must contain a combination of both upper-case and lower-case letters, one number and a special character
					</div>
					<div>eg: Coin@123</div>
					<div>
						If you are not sure you can remember a strong password, you’re probably better off writing it down and storing it in a secure and secret location than you are packing a weak password or reusing an old one.
					</div>
				</div>
				<div class="col s4 m1 hide-on-small-only">&nbsp;</div>
			</div>
		</div>	
	</div>
</div>