<div class="wto-container">
	<div class="row" style="margin-bottom: 0;">
		<div class="login-bg">
			<div>
				<div class="col s4 m3 hide-on-small-only">&nbsp;</div>
				<div class="col s12 m6" style="margin-top: 140px">
					<div class="text-center topgap30">
						<img src="/img/verify.svg">
					</div>
					<div class="topgap30 font-36 font-weight-300 font-white text-center">Password Changed!</div>
					<div class="topgap35 text-center font-14 font-weight-300" style="color: #fff;">Your password have been successfully changed</div>
					<div class="topgap10 text-center">
						<a ui-sref="login" class="font-14 font-white">CLICK HERE TO LOGIN</a>
					</div>
				</div>
				<div class="col s4 m3 hide-on-small-only">&nbsp;</div>
			</div>
		</div>	
	</div>
</div>