<div class="wto-container">
	<div class="row" style="margin-bottom: 0;">
		<div class="login-bg">
			<div>
				<div class="col s4 m2 hide-on-small-only">&nbsp;</div>
				<div class="col s12 m5 topgap20" style="margin-top: 100px">
					<div class="btd-login-title">CROWDFUNDING</div>
					<div class="row btd-signin-bg topgap10">
						<div class="col s1">&nbsp;</div>
						<div class="col s10">
							<div class="font-16 font-white topgap40" style="line-height: 1.56;letter-spacing: 0.3px;">Lets create your Bitcoin Dollar account, start by picking a password to encrypt it</div>
							<form name="signup">
								<div class="input-field">
									<input placeholder="Email" id="email" type="email" class="validate" style="margin-bottom: 0;color: #fff;" ng-model="registerObj.userEmail" required>
									<label data-error="Please enter a valid email!" class="active" for="email" style="font-size: 14px;top:10px;">EMAIL</label>
								</div>

								<div class="input-field topgap40">
									<input data-error="wrong" placeholder="Password" id="password" type="password" class="validate" style="margin-bottom: 0;color: #fff;" ng-model="registerObj.userPassword" required>
									<label class="active font-14" style="font-size: 14px;top:10px;" for="password">PASSWORD</label>
								</div>

								<div class="input-field topgap40">
									<input data-error="wrong" placeholder="Confirm Password" id="confirm_password" type="password" class="validate" style="margin-bottom: 0;color: #fff;" ng-model="registerObj.pass" ng-change="comparePass()" ng-pattern="registerObj.userPassword" ng-focus="passwordCheck()" required>
									<label class="active font-14" style="font-size: 14px;top:10px;" for="confirm_password">CONFIRM PASSWORD</label>
									<div class="font-14 topgap6" style="color: #ff6565">{{matchError}}</div>
									<div class="font-14 topgap6" style="color: #ff6565">{{pwdErrMsg}}</div>
								</div>

								<div class="topgap20 disable-class relative">
									<a ui-sref="login" class="inline-block existing-user">EXISTING USER LOGIN</a>
									<button type="submit" value="Submit" class="btn-btd-submit" ng-disabled="!signup.$valid || (pwdErrMsg != '')" ng-click="register()">SIGNUP</button>
								</div>						
								<div class="text-center topgap50 ">
									&nbsp;
								</div>
							</form>	
						</div>
						<div class="col s1">&nbsp;</div>
					</div>
				</div>
				<div class="col s4 m4 hide-on-small-only signup-text-block" style="margin-top: 180px">
					<div class="row">
						<div class="col s1 m1">&nbsp;</div>
						<div class="col s11 m11">
							<div>Put a strong but memorable password that you haven’t used anywhere to secure your account.</div>
							<div class="topgap15">
								Password should be atleast 8 characters, Must contain a combination of both upper-case and lower-case letters, one number and a special character
							</div>
							<div>eg: Coin@123</div>
							<div>
								If you are not sure you can remember a strong password, you’re probably better off writing it down and storing it in a secure and secret location than you are packing a weak password or reusing an old one.
							</div>
						</div>
					</div>
				</div>
				<div class="col s4 m1 hide-on-small-only">&nbsp;</div>
			</div>
		</div>	
	</div>
</div>