<div class="wto-container">
	<div class="row wto-white-bg" style="margin-top: 100px;min-height: 10px;">
		<div class="col s12 text-center font-30 label-grey topgap30" style="letter-spacing: 0.1px;">DEVELOPERS COMMUNITY</div>
	</div>
	<div class="row wto-white-bg topgap50">
		<div class="col s12 m1">&nbsp;</div>
		<div class="col s12 m10">
			<div class="row">
				<div class="col s3 text-center">
					<img src="/img/team/Dev1.png" style="width: 90%;height: auto;">
					<div class="topgap20">
						<a href="https://github.com/bitcoin/bitcoin/search?utf8=%E2%9C%93&q=bitcoin+open+source&type=" target="_blank">
							<img src="/img/Github.svg" width="20">
						</a>
					</div>
				</div>
				<div class="col s3 text-center">
					<img src="/img/team/Dev2.jpg" style="width: 90%;height: auto;">
					<div class="topgap20">
						<a href="https://github.com/bitcoin" target="_blank">
							<img src="/img/Github.svg" width="20">
						</a>
					</div>
				</div>
				<div class="col s3 text-center">
					<img src="/img/team/Dev3.jpg" style="width: 90%;height: auto;">
					<div class="topgap20">
						<a href="https://github.com/search?utf8=%E2%9C%93&q=PHP&type=" target="_blank">
							<img src="/img/Github.svg" width="20">
						</a>
					</div>
				</div>
				<div class="col s3 text-center">
					<img src="/img/team/Dev4.jpg" style="width: 90%;height: auto;">
					<div class="topgap20">
						<a href="https://github.com/search?utf8=%E2%9C%93&q=java&type=" target="_blank">
							<img src="/img/Github.svg" width="20">
						</a>
					</div>
				</div>
			</div>
			<div class="row topgap50">
				<div class="col s2">&nbsp;</div>
				<div class="col s3 text-center">
					<img src="/img/team/Dev5.jpg" style="width: 90%;height: auto;">
					<div class="topgap20">
						<a href="https://github.com/search?utf8=%E2%9C%93&q=python&type=" target="_blank">
							<img src="/img/Github.svg" width="20">
						</a>
					</div>
				</div>
				<div class="col s3 text-center">
					<img src="/img/team/Dev6.jpg" style="width: 90%;height: auto;">
					<div class="topgap20">
						<a href="https://www.reddit.com/r/teslamotors/comments/3v1k25/what_coding_languages_does_teslagoogle_etc_use" target="_blank">
							<img src="/img/Github.svg" width="20">
						</a>
					</div>
				</div>
				<div class="col s3 text-center">
					<img src="/img/team/shape.png" style="width: 90%;height: auto;">
					<div class="topgap20">
						<span class="btn-join-us">JOIN US</span>
					</div>
				</div>
				<div class="col s1">&nbsp;</div>
			</div>
		</div>
		<div class="col s12 m1">&nbsp;</div>
	</div>
</div>