<div class="wto-container">
	<div class="row wto-white-bg" style="margin-top: 100px;min-height: 10px;">
		<div class="col s12 text-center font-30 label-grey topgap30" style="letter-spacing: 0.1px;">DEVELOPERS COMMUNITY</div>
	</div>
	<div class="row wto-white-bg topgap50">
		<div class="col s12 m1">&nbsp;</div>
		<div class="col s12 m10">
			<div class="row">
				<div class="col s3 text-center">
					<img src="/img/team/Dev1.png" tooltips tooltip-template="<b class='font-18'>David Durman</b><div style='height:1px;background-color:#ffa001;margin-top:6px;'></div><div class='font-14 topgap12'>David Durman has been working in information security and AI since 2000. He is currently active in the cryptocurrency and blockchain community and has discovered several vulnerabilities and proposed over 50 design improvements, some of which have become part of bitcoin and is the Co-Founder of cryptforall and Founder of long term Finance, the most promising blockchain and financial platform. He also enthusiastic investor in multiple cryptocurrencies.</div>" tooltip-side="right" style="width: 90%;height: auto;">
					<div class="topgap20">
						<a href="https://github.com/bitcoin/bitcoin/search?utf8=%E2%9C%93&q=bitcoin+open+source&type=" target="_blank">
							<img src="/img/Github.svg" width="20">
						</a>
						<a class="leftgap6" href="https://www.linkedin.com/in/david-durman-190880157" target="_blank">
							<img src="/img/lnkdb.svg" width="22">
						</a>
					</div>
				</div>
				<div class="col s3 text-center">
					<img src="/img/team/Dev2.jpg" tooltips tooltip-template="<b class='font-18'>Lao Tang</b><div style='height:1px;background-color:#ffa001;margin-top:6px;'></div><div class='font-14 topgap12'>Lao Tang began working in the computer and financial security field in 1995. Since then he has been responsible for designing a variety of security-related products and leading product development teams, first at Core Security Technologies and later at Advanced Computing. He is the Founder of ZERO and betheFunder, early investor of BTC, LTC, DASH, NEM, Ethereum, Ripple, Metaverse, IOTA and Qtum.</div>" tooltip-side="right" style="width: 90%;height: auto;">
					<div class="topgap20">
						<a href="https://github.com/bitcoin" target="_blank">
							<img src="/img/Github.svg" width="20">
						</a>
						<a class="leftgap6" href="" target="_blank">
							<img src="/img/lnkdb.svg" width="22">
						</a>
					</div>
				</div>
				<div class="col s3 text-center">
					<img src="/img/team/Dev3.jpg" tooltips tooltip-template="<b class='font-18'>Martin Sheldon</b><div style='height:1px;background-color:#ffa001;margin-top:6px;'></div><div class='font-14 topgap12'>Martin Sheldon started out as a white hat hacker in 1998. He is currently focused on software architecture and systems integration and specializes in guiding customers through the process of honing their ideas into a finished design. He continuously surveys industry trends for exciting developments. He is an Ex googler, Advisor, Silicon Valley VC, Founder of A2Z Capital, Blockchain Robotic scientist. Community operations expert.</div>" tooltip-side="right" style="width: 90%;height: auto;">
					<div class="topgap20">
						<a href="https://github.com/search?utf8=%E2%9C%93&q=PHP&type=" target="_blank">
							<img src="/img/Github.svg" width="20">
						</a>
						<a class="leftgap6" href="" target="_blank">
							<img src="/img/lnkdb.svg" width="22">
						</a>
					</div>
				</div>
				<div class="col s3 text-center">
					<img src="/img/team/Dev4.jpg" tooltips tooltip-template="<b class='font-18'>Jonathan</b><div style='height:1px;background-color:#ffa001;margin-top:6px;'></div><div class='font-14 topgap12'>Ex Microsoft developer, AI advance researcher, Founder of Believe Technology, Enthusiastic blockchain advisors.</div>" style="width: 90%;height: auto;">
					<div class="topgap20">
						<a href="https://github.com/search?utf8=%E2%9C%93&q=java&type=" target="_blank">
							<img src="/img/Github.svg" width="20">
						</a>
						<a class="leftgap6" href="" target="_blank">
							<img src="/img/lnkdb.svg" width="22">
						</a>
					</div>
				</div>
			</div>
			<div class="row topgap50">
				<div class="col s2">&nbsp;</div>
				<div class="col s3 text-center">
					<img src="/img/team/Dev5.jpg" tooltips tooltip-template="<b class='font-18'>Leonard</b><div style='height:1px;background-color:#ffa001;margin-top:6px;'></div><div class='font-14 topgap12'>Ex-Oracle developer, Co-Founder, and advisors of Blockchainmania, Enthusiastic cryptocurrencies investor and blockchain advisors.</div>" style="width: 90%;height: auto;">
					<div class="topgap20">
						<a href="https://github.com/search?utf8=%E2%9C%93&q=python&type=" target="_blank">
							<img src="/img/Github.svg" width="20">
						</a>
						<a class="leftgap6" href="" target="_blank">
							<img src="/img/lnkdb.svg" width="22">
						</a>
					</div>
				</div>
				<div class="col s3 text-center">
					<img src="/img/team/Dev6.jpg" tooltips tooltip-template="<b class='font-18'>Andrew</b><div style='height:1px;background-color:#ffa001;margin-top:6px;'></div><div class='font-14 topgap12'>Ex-Tesla developer and promoter of AI and Robotics in Blockchain technology, Part of an autopilot team and elite group of experts in computer vision and AI.</div>" style="width: 90%;height: auto;">
					<div class="topgap20">
						<a href="https://www.reddit.com/r/teslamotors/comments/3v1k25/what_coding_languages_does_teslagoogle_etc_use" target="_blank">
							<img src="/img/Github.svg" width="20">
						</a>
						<a class="leftgap6" href="" target="_blank">
							<img src="/img/lnkdb.svg" width="22">
						</a>
					</div>
				</div>
				<div class="col s3 text-center hide-on-small-only">
					<img src="/img/team/shape.png" style="width: 90%;height: auto;">
					<div class="topgap20">
						<span class="btn-join-us">JOIN US</span>
					</div>
				</div>
				<div class="col s1">&nbsp;</div>
			</div>
		</div>
		<div class="col s12 m1">&nbsp;</div>
	</div>
</div>