<div class="row wto-footer-row"">
	<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	<div class="col s12 m10 topgap20">
		<div class="row">
			<div class="col s12 m1">&nbsp;</div>
			<div class="col s12 m5">
				<div class="row topgap8">
					<div class="col s6 m2 hide-on-small-only">
						<div class="font-14 label-grey" style="padding-top: 10px;">&nbsp;</div>
					</div>

					<div class="col s6 m5">
						<div class="font-14 label-grey" style="padding-top: 10px;">
							<a ui-sref="contactUs" class="label-grey">Features</a>
						</div>
					</div>

					<div class="col s6 m5" style="padding-right: 0;">
						<a href="https://s3.ap-south-1.amazonaws.com/tourcoin/whitepaper.pdf" target="_blank" class="label-grey font-14" style="padding-top: 10px;display: block;">Team</a>
					</div>

					<div class="col s6 m2 hide-on-small-only">
						<div class="font-14 label-grey">&nbsp;</div>
					</div>

					<div class="col s6 m5">
						<div class="font-14 label-grey" style="padding-top: 10px;">
							<a ui-sref="faq" class="label-grey">Why Us?</a>
						</div>
					</div>

					<div class="col s6 m5" style="padding-right: 0;">
						<div class="label-grey font-14" style="padding-top: 10px;">
							<a ui-sref="terms" class="label-grey">Roadmap</a>
						</div>
					</div>

					<div class="col s6 m2 hide-on-small-only">
						<div class="font-14 label-grey">&nbsp;</div>
					</div>

					<div class="col s6 m5">
						<div class="font-14 label-grey" style="padding-top: 10px;">
							<a ui-sref="vision" class="label-grey">Whitepaper</a>
						</div>
					</div>
					
					<div class="col s6 m5" style="padding-right: 0;">
						<div class="label-grey font-14" style="padding-top: 10px;">
							<a ui-sref="vision" class="label-grey">Exchanges</a>
						</div>
					</div>
					<div class="col s6 m2 hide-on-small-only">
						<div class="font-14 label-grey">&nbsp;</div>
					</div>

					<div class="col s6 m5">
						<div class="font-14 label-grey" style="padding-top: 10px;">
							<a ui-sref="vision" class="label-grey">FAQs</a>
						</div>
					</div>
					
					<div class="col s6 m5" style="padding-right: 0;">
						<div class="label-grey font-14" style="padding-top: 10px;">
							<a ui-sref="vision" class="label-grey">Wallets</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m2">&nbsp;</div>
					<div class="col s12 m8">
						<img src="/img/cc.svg" class="middle">
						<span class="inline-block font-14 label-grey"> 2018  Bitcoin Dollar All Rights Reserved</span>
					</div>
				</div>
				<div class="col s12 m2">&nbsp;</div>
			</div>
			<div class="col s12 m1">&nbsp;</div>
			<div class="col s12 m5">
				<div class="text-right topgap25">
					<a href="">
						<img src="/img/social/facebook.svg">
					</a>
					<a href="">
						<img src="/img/social/twitter.svg">
					</a>
					<a href="">
						<img src="/img/social/github.svg">
					</a>
					<a href="">
						<img src="/img/social/redditt.svg">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
</div>
